<div class="container-fluid">
    <h2 class="mt-4">{{this.data.name}}
        {{#if this.data.black_list.id}}
        <button class="btn btn-danger btn-lg" onclick="banUser({{this.data.id}}, {{this.data.black_list.id}})"
            style="float: right">Xoá khỏi DS Đen</button>
        {{else}}
        <button class="btn btn-danger btn-lg" onclick="banUser({{this.data.id}}, null)" style="float: right">Thêm vào DS
            Đen</button>
        {{/if}}
    </h2>
    <div>
        <strong>Lớp: </strong> {{this.data.class}}
    </div>
    <div>
        <strong>Username: </strong> {{this.data.username}}
    </div>
    <div>
        <strong>Ngày tạo: </strong> {{this.data.createdAt}}
    </div>
    <div>
        <strong>Ngày hết hạn: </strong> {{this.data.expiredDate}}
    </div>
    <div class="card my-4">
        <div class="card-body" style="overflow:hidden">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã sách</th>
                            <th>Tên sách</th>
                            <th>Tác giả</th>
                            <th>Ngày mượn</th>
                            <th>Ngày trả</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.data.list}}
                        <tr>
                            <td>{{this.index}}</td>
                            <td>{{this.book.id}}</td>
                            <td>{{this.book.title}}</td>
                            <td>{{this.book.author}}</td>
                            <td>{{this.createdAt}}</td>
                            <td>{{this.returnDate}}</td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{{#section 'js'}}
<script>
    function banUser(userId, id) {
        $.ajax({
            method: 'POST',
            url: '/admin/ban-user',
            data: {
                userId, id
            },
            success: (res) => {
                location.reload();
            }
        })
    }
</script>
{{/section}}