<div class="container-fluid">
	<h2 class="mt-4">Quản lý độc giả</h2>
	<div class="card mb-4">
		<div class="card-body" style="overflow:hidden">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>STT</th>
							<th>Họ tên</th>
							<th>Lớp</th>
							<th>Username</th>
							<th>Địa chỉ</th>
							<th>Điện thoại</th>
							<th>Ngày đăng ký</th>
							<th>DS Đen</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each list}}
						<tr>
							<td>{{this.index}}</td>
							<td>{{this.name}}</td>
							<td>{{this.class}}</td>
							<td>{{this.username}}</td>
							<td>{{this.address}}</td>
							<td>{{this.phone}}</td>
							<td>{{this.createdAt}}</td>
							<td style="text-align:center">
								{{#if this.black_list.id}}
								<i class="fas fa-check"></i>
								{{else}}
								{{/if}}
							</td>
							<td>
								<a href="/admin/users/{{this.id}}" class="btn btn-info">
									<i class="fas fa-info-circle"></i>
								</a>
								<button onclick="banUser({{this.id}}, {{this.black_list.id}})" type="button" class="btn btn-danger btn-ban-user" banId="{{this.black_list.id}}" userId="{{this.id}}">
									<i class="fas fa-ban"></i>
								</button>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{{#section 'js'}}
<script>
	function banUser(userId, id) {
		$.ajax({
			method: 'POST',
			url: '/admin/ban-user',
			data: {
				userId, id
			},
			success: (res) => {
				location.reload();
			}
		})
	}
</script>
{{/section}}
