<div class="container py-5">
	<div class="row">
		<div class="col-md-4">
			<img src="/imgs/books/{{this.book.id}}.png"
				style="width: 100%;" />
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h2>{{this.book.title}}</h2>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Tác giả: {{this.book.author}}</li>
							<li class="list-group-item">Thể loại: <a
									href="/danh-sach/{{this.book.category.id}}">{{this.book.category.name}}</a></li>
							<li class="list-group-item">NXB: {{this.book.publisher}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-12 text-right">
					{{#if this.book.isAvailable}}
					{{#if isInCart}}
					<button type="button" disabled class="btn btn-success btn-add-cart" bookID={{this.book.id}}
						userID={{this.user.id}}>
						Đã thêm
					</button>
					{{else}}
					<button type="button" class="btn btn-success btn-add-cart" bookID={{this.book.id}}
						userID={{this.user.id}}>
						Thêm vào list
					</button>
					{{/if}}
					{{else}}<button type="button" disabled class="btn btn-success">
						Sách không có sẵn
					</button>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
{{#section 'js'}}
<script>
	$('.btn-add-cart').click((e) => {
		const bookId = $(e.target).attr('bookID');
		const userId = $(e.target).attr('userID');
		$.ajax({
			method: 'POST',
			url: '/user/add-cart',
			data: {
				bookId, userId
			},
			success: (res) => {
				$('.btn-add-cart').attr('disabled', true)
				$('.btn-add-cart').text('Đã thêm')
			}
		})
	})
</script>
{{/section}}
