<div class="container py-5">
	<div class="row">
		<div class="col-md-4">
			<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_123734.jpg"
				style="width: 100%;" />
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h2>{{this.book.title}}</h2>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Tác giả: {{this.book.author}}</li>
							<li class="list-group-item">Thể loại: <a
									href="/danh-sach/{{this.book.category.id}}">{{this.book.category.name}}</a></li>
							<li class="list-group-item">NXB: {{this.book.publisher}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-12 text-right">
					{{#if isAvailable}}
					<button type="button" class="btn btn-success btn-add-cart" bookID={{this.book.id}}
						userID={{this.user.ID}}>
						Thêm vào list
					</button>
					{{else}}<button type="button" disabled class="btn btn-success">
						Sách không có sẵn
					</button>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.btn-add-cart').click((e) => {
		const bookID = $(e.target).attr('bookID');
		const userID = $(e.target).attr('userID');
		$.ajax({
			method: 'POST',
			url: '/user/add-cart'
			data: {
				bookID, userID
			},
			success: (res) => {
				$('.btn-add-cart').attr('disabled', true)
				$('.btn-add-cart').text('Đã thêm')
			}
		})
	})
</script>